
@{
    ViewBag.Title = "View";
}

<form method="post">
    <div class="form-group">
        <label for="textInput">Text Input:</label>
        <input type="text" id="textInput" name="textInput" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>View</h2>

